doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no')

    title #{config.event.name} &bull; #{config.event.description}

    meta(name='description' content=`${config.event.name} - ${config.event.description}`)
    meta(name='keywords' content='desenvolvedor frontend, desenvolvedor front-end, front-end em campinas, eventos de front-end em campinas, frontincampinas, frontincampinas 2019, eventos de desenvolvimento, desenvolvimento, front-end, html, html5, css3, css, javascript, js')

    meta(property='og:locale' content='pt_BR')
    meta(property='og:url' content=`${config.event.url}`)
    meta(property='og:type' content='website')
    meta(property='og:title' content=`${config.event.name}`)
    meta(property='og:site_name' content='Front in Campinas')
    meta(property='og:description' content=`${config.event.description}`)
    meta(property='og:image' content='http://www.frontincampinas.com.br/assets/img/social.png')

    meta(name='twitter:card' content='summary_large_image')
    meta(name='twitter:title' content=`${config.event.name}`)
    meta(name='twitter:description' content=`${config.event.description}`)
    meta(name='twitter:site' content='@cpsfrontend')
    meta(name='twitter:image' content='http://www.frontincampinas.com.br/assets/img/social.png')

    link(href="/assets/img/favicon.png" rel="shortcut icon")
    link(href='//fonts.googleapis.com/css?family=Work+Sans:300,400,600,700' rel='stylesheet')
    link(rel='stylesheet' href='assets/css/main.css')
    link(rel="canonical" href="https://frontincampinas.com.br")
  body
    header.header
      .header-wrapper
        .header-content
          h1.header-logo #{config.event.name}
          h2.header-info 06/Junho/2020 #[span &bull;] 8h #[span &bull;] #[a(href='https://goo.gl/maps/67rKXjWTvqM2' target='_blank') Hotel Vitória Concept]
          //- a.button(href=`${config.tickets.url}` target='_blank') Inscreva-se

          div.header-support
            a.header-support__link(href=`${config.papers.url}` target='_blank') Quero palestrar
            span.header-support__divisor |
            a.header-support__link(href=`${config.sponsorship.url}` target='_blank') Quero patrocinar

    section.features
      .features-wrapper
        .features-column-title
          h2.features-title O que é o Front in Campinas?
          h2.features-description É um evento para compartilhar o conhecimento entre a comunidade, com o intuito de fortalecê-la ainda mais. Será um espaço para interação e diversão, servindo de inspiração para aqueles que estão começando e renovando as energias daqueles que precisam.

        .features-column-content
          ul.features-list
            li.features-list-item
              h3.features-list-item__title Por que ir?
              h3.features-list-item__description O Front in Campinas contará com palestrantes de alto nível que apresentarão conteúdos que abrangem não só a parte técnica do front-end, mas também a carreira de qualquer pessoa da área de TI.
            li.features-list-item
              h3.features-list-item__title Objetivo
              h3.features-list-item__description Prover um espaço para a interação entre desenvolvedores e empresas, em um ambiente inclusivo para todos.
            li.features-list-item
              h3.features-list-item__title Para quem?
              h3.features-list-item__description Todas as pessoas em todas as áreas de desenvolvimento podem participar do evento. Além do networking, elas poderão aprender e conversar sobre carreira e softskils necessários para toda a área de tecnologia.

    //- section.speakers
    //-   .speakers-wrapper
    //-     .speakers-title
    //-       span Palestrantes &amp; Talks
    //-     ul.speakers-list
    //-       each speaker in speakers
    //-         li.speakers-list-item.speakers-list-item__status-on(class=speaker.keynote ? "speakers-list-item__keynote" : "")
    //-           .speakers-list-item-photo
    //-             img.speakers-list-item__avatar(src=`assets/img/speakers/${speaker.avatar}`)
    //-           .speakers-list-item-content
    //-             h3.speakers-list-item__title= speaker.name
    //-             .speakers-list-item__corporation= speaker.corporation
    //-               if speaker.keynote
    //-                 span.speaker-list-item__title-keynote  Keynote
    //-             span.speakers-list-item__company= speaker.company
    //-             .speakers-list-item__social
    //-               if speaker.github
    //-                 a.speakers-list-item__social-link.github(href=`https://github.com/${speaker.github}` target='_blank') Github
    //-               if speaker.twitter
    //-                 a.speakers-list-item__social-link.twitter(href=`https://twitter.com/${speaker.twitter}` target='_blank') Twitter
    //-               if speaker.twitter_dupla
    //-                 a.speakers-list-item__social-link.twitter(href=`https://twitter.com/${speaker.twitter_dupla}` target='_blank') Twitter
    //-             p.speakers-list-item__talk= speaker.talk
    //-             p.speakers-list-item__talk-description= speaker.talk_description
    //-     .speakers-title.speakers-title__presenter
    //-       span Apresentação
    //-     ul.speakers-list.speakers-list__presenter
    //-       li.speakers-list-item.speakers-list-item__presenter
    //-         .speakers-list-item-photo__presenter
    //-           img.speakers-list-item__avatar(src=`assets/img/speakers/keilla.jpg`)
    //-         .speakers-list-item-content
    //-           h3.speakers-list-item__title.speakers-list__presenter-title Keilla Menezes
    //-           a.speakers-list-item__company(href=`https://twitter.com/keillamenezes_` target='_blank') @keillamenezes_

    section.location
      .location-wrapper
        .location-column.content
          .location-content
            .location-content-address
              h3.location-title Vitória Hotel Concept
              p.location-description  Av. José de Souza Campos, 425 #[br] Bairro Nova Campinas #[br] Campinas - SP
              a.button(href='https://goo.gl/maps/eZvhV5PUYMn' target='_blank') Como chegar

        .location-column.photo

    //- section.schedule
    //-   .speakers-title
    //-     span Programação
    //-   ul.schedule-list
    //-     each event in schedule
    //-       li(class=`schedule-list-item schedule-list-item--${event.type}`)
    //-         .schedule-list-item-time
    //-           span.schedule-list-item__time= event.time
    //-         .schedule-list-item-content
    //-           h3.schedule-list-item__title= event.title
    //-           p.schedule-list-item__talk= event.talk
    //-   p.schedule-note Os horários e slots poderão sofrer alterações até o dia do evento.

    //- section.tickets
    //-   .tickets-wrapper
    //-     h2.tickets-title Ingresso
    //-     a.button(href=`${config.tickets.url}` target='_blank') Inscreva-se

    //- section.support
    //-   .support-wrapper
    //-     h2.support-title #[span Patrocínio]
    //-       ul.support-list.patro
    //-         each sponsor in sponsors
    //-           li.support-item
    //-             a.support-link(href=`${sponsor.website}` target='_blank')
    //-               img(src=`assets/img/sponsors/${sponsor.logo}`)
    //-     h2.support-title #[span Apoio]
    //-       ul.support-list.apoio
    //-         each item in support
    //-           li.support-item
    //-             a.support-link(href=`${item.website}` target='_blank')
    //-               img(src=`assets/img/support/${item.logo}`)

    footer.footer
      .footer-wrapper
        .footer-column.coc
          a.footer-link(href='https://campinasfrontend.com.br/#conduct' target='_blank') Código de Conduta
        .footer-column.email
          span.footer-email contato@frontincampinas.com.br
        .footer-column.social
          ul.footer-social
            li.footer-social-item
              a.footer-social-link.twitter(href='https://twitter.com/cpsfrontend' target='_blank') Twitter
            li.footer-social-item
              a.footer-social-link.facebook(href='https://www.facebook.com/CampinasFrontend' target='_blank') Facebook
            li.footer-social-item
              a.footer-social-link.github(href='https://github.com/campinas-front-end' target='_blank') Github

script(async src='https://www.googletagmanager.com/gtag/js?id=UA-113078834-1')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-113078834-1');
